<a href="https://colab.research.google.com/github/carvalheirafc/mnist-MachineLearning-Supervised/blob/main/mnist_results_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
from scipy import stats

In [25]:
import warnings
warnings.filterwarnings("ignore")

## Single Classifiers

### Gaussian NaiveBayes

In [26]:
nb_results = pd.read_csv('nbb.csv')
nb_results

                 Base Treinamento  ...  1.00E-01  Tempo (segundos).2
0            Original       90/10  ...     99.44                0.17
1                 NaN       80/20  ...     99.44                0.15
2                 NaN       70/30  ...     99.50                0.14
3        Duas Classes       90/10  ...     80.01                0.79
4                 NaN       80/20  ...     80.25                0.70
5                 NaN       70/30  ...     80.14                0.64
6   Metade do dataset       90/10  ...     79.90                0.41
7                 NaN       80/20  ...     79.96                0.36
8                 NaN       70/30  ...     80.37                0.32
9       Dataset Menor       90/10  ...     82.33                0.18
10                NaN       80/20  ...     83.16                0.14
11                NaN       70/30  ...     81.94                0.13
12              Média         NaN  ...     85.54                0.34
13      Desvio Padrão         NaN  ...      8.46                0.24

[14 rows x 8 columns]

In [27]:
stat, p = stats.friedmanchisquare(nb_results['1.00E-09'], nb_results['1.00E-20'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=9.000, p=0.011

In [28]:
stat, p = stats.wilcoxon(nb_results['1.00E-09'], nb_results['1.00E-20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(nb_results['1.00E-09'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(nb_results['1.00E-20'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=4.000, p=0.002
Statistics=12.000, p=0.011
Statistics=10.000, p=0.008

### Decision Tree

In [29]:
dt_results = pd.read_csv('decisiontree.csv')
dt_results

                 Base Treinamento  ...  ccp 0.5  Tempo (segundos).2
0            Original       90/10  ...    11.16              19.600
1                 NaN       80/20  ...    11.02              16.660
2                 NaN       70/30  ...    11.21              13.690
3        Duas Classes       90/10  ...    52.80               1.770
4                 NaN       80/20  ...    53.37               1.480
5                 NaN       70/30  ...    53.60               1.130
6   Metade do dataset       90/10  ...    10.73               7.700
7                 NaN       80/20  ...    11.36               7.040
8                 NaN       70/30  ...    11.40               5.835
9       Dataset Menor       90/10  ...    11.50               2.360
10                NaN       80/20  ...    11.45               2.040
11                NaN       70/30  ...    10.88               1.720
12              Média         NaN  ...    21.71               6.750
13      Desvio Padrão         NaN  ...    19.03               6.500

[14 rows x 8 columns]

In [30]:
stat, p = stats.friedmanchisquare(dt_results['ccp 0.0'], dt_results['ccp 0.1'], dt_results['ccp 0.5'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=19.447, p=0.000

In [31]:
stat, p = stats.wilcoxon(dt_results['ccp 0.0'], dt_results['ccp 0.1'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dt_results['ccp 0.0'], dt_results['ccp 0.5'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dt_results['ccp 0.1'], dt_results['ccp 0.5'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=4.000, p=0.002
Statistics=1.000, p=0.001
Statistics=0.000000, p=0.043

### KNN

In [32]:
knn_results = pd.read_csv('knn.csv')
knn_results

                 Base Treinamento  ...  25 Neighbors  Tempo (segundos).2
0            Original       90/10  ...           NaN                 NaN
1                 NaN       80/20  ...           NaN                 NaN
2                 NaN       70/30  ...           NaN                 NaN
3        Duas Classes       90/10  ...        100.00                1.23
4                 NaN       80/20  ...        100.00                1.08
5                 NaN       70/30  ...         99.97                0.89
6   Metade do dataset       90/10  ...           NaN                 NaN
7                 NaN       80/20  ...           NaN                 NaN
8                 NaN       70/30  ...           NaN                 NaN
9       Dataset Menor       90/10  ...         94.00                1.16
10                NaN       80/20  ...         93.83                0.98
11                NaN       70/30  ...         92.97                0.84
12              Média         NaN  ...         96.80                1.03
13      Desvio Padrão         NaN  ...          3.52                0.15

[14 rows x 8 columns]

In [33]:
stat, p = stats.friedmanchisquare(knn_results['5 Neighbors'], knn_results['10 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.894, p=0.640

In [34]:
stat, p = stats.wilcoxon(knn_results['5 Neighbors'], knn_results['10 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(knn_results['5 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(knn_results['10 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=3.000, p=0.008
Statistics=3.000, p=0.005
Statistics=3.000000, p=0.005

### MLP

In [35]:
mlp_results = pd.read_csv('mlp.csv')
mlp_results

                 Base Treinamento  ...  24, 64 Layers  Tempo (segundos).2
0            Original       90/10  ...          94.19              296.29
1                 NaN       80/20  ...          93.60              221.37
2                 NaN       70/30  ...          93.48              125.31
3        Duas Classes       90/10  ...         100.00                5.49
4                 NaN       80/20  ...          99.92                3.94
5                 NaN       70/30  ...          99.86                4.38
6   Metade do dataset       90/10  ...          92.56               62.07
7                 NaN       80/20  ...          93.30               78.70
8                 NaN       70/30  ...          92.65               88.31
9       Dataset Menor       90/10  ...          90.66               25.58
10                NaN       80/20  ...          89.70               20.80
11                NaN       70/30  ...          90.61               16.49
12              Média         NaN  ...          94.21               79.06
13      Desvio Padrão         NaN  ...           3.70               93.79

[14 rows x 8 columns]

In [36]:
stat, p = stats.friedmanchisquare(mlp_results['100 Layers'], mlp_results['100, 100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=10.259, p=0.006

In [37]:
stat, p = stats.wilcoxon(mlp_results['100 Layers'], mlp_results['100, 100 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp_results['100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp_results['100, 100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=27.000, p=0.196
Statistics=3.000, p=0.003
Statistics=12.000000, p=0.011

### Best Results

In [38]:
best_results = pd.read_csv('bests.csv', skiprows=1)
best_results

                 Base Treinamento  ...  ccp 0.0  Tempo (segundos).3
0            Original       90/10  ...    86.08               19.31
1                 NaN       80/20  ...    86.39               16.42
2                 NaN       70/30  ...    86.49               13.71
3        Duas Classes       90/10  ...    99.36                1.78
4                 NaN       80/20  ...    99.56                1.45
5                 NaN       70/30  ...    99.52                1.14
6   Metade do dataset       90/10  ...    84.96                7.64
7                 NaN       80/20  ...    84.80                6.96
8                 NaN       70/30  ...    83.73                5.78
9       Dataset Menor       90/10  ...    84.00                2.33
10                NaN       80/20  ...    83.50                2.02
11                NaN       70/30  ...    81.80                1.69
12              Média         NaN  ...    88.35                6.69
13      Desvio Padrão         NaN  ...     6.84                6.42

[14 rows x 10 columns]

In [39]:
stat, p = stats.friedmanchisquare(best_results['100 Layers'], 
                                  best_results['5 Neighbors'],
                                  best_results['1.00E-01'],
                                  best_results['ccp 0.0'],)

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=23.288, p=0.000

In [40]:
stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['5 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['ccp 0.0'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['5 Neighbors'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['5 Neighbors'], best_results['ccp 0.0'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['ccp 0.0'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=3.000, p=0.003
Statistics=10.000, p=0.008
Statistics=4.000, p=0.002
Statistics=1.000, p=0.001
Statistics=4.000, p=0.002
Statistics=34.000, p=0.245

## Bagging

In [41]:
bagg_results = pd.read_csv('bagging.csv')
bagg_results

  Bagging         10         15         20      Media  Tempo Médio
0  D Tree  95.862829  96.300000  96.458218  96.200000    15.413956
1     MLP  97.730997  97.800685  97.883284  97.804988   152.703294
2     Knn  97.967593  97.914352  97.956019  97.945988   670.984601
3      NB  79.330826  79.330684  79.330927  79.330812     4.670789

In [42]:
dtree = bagg_results.loc[0][['10', '15', '20']]
mlp = bagg_results.loc[1][['10', '15', '20']]
knn = bagg_results.loc[2][['10', '15', '20']]
nb = bagg_results.loc[3][['10', '15', '20']]

In [43]:
stat, p = stats.friedmanchisquare(dtree, 
                                  mlp,
                                  knn,
                                  nb,)

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=9.000, p=0.029

In [44]:
stat, p = stats.friedmanchisquare(bagg_results['10'], 
                                  bagg_results['15'],
                                  bagg_results['20'])

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=3.500, p=0.174

In [45]:
stat, p = stats.wilcoxon(dtree.values, mlp.values)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dtree, knn)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dtree, nb)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp, knn)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp, nb)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(knn, nb)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.000, p=0.109
Statistics=0.000, p=0.109
Statistics=0.000, p=0.109
Statistics=0.000, p=0.109
Statistics=0.000, p=0.109
Statistics=0.000, p=0.109

In [46]:
stat, p = stats.wilcoxon(bagg_results['10'], bagg_results['15'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(bagg_results['10'], bagg_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(bagg_results['15'], bagg_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=3.000, p=0.465
Statistics=2.000, p=0.273
Statistics=0.000, p=0.068

## Boosting

In [49]:
boost_results = pd.read_csv('boosting.csv')
boost_results

  Boosting         10         15         20      Media  Tempo Médio
0   D Tree  91.285344  91.300000  91.285344  91.300000     1.916901
1      MLP  46.739133  46.739133  46.739133  46.739133   103.839226
2       NB  74.239590  69.878211  65.567204  69.895001     9.454617

In [53]:
dtree = boost_results.loc[0][['10', '15', '20']]
mlp = boost_results.loc[1][['10', '15', '20']]
nb = boost_results.loc[2][['10', '15', '20']]

In [54]:
stat, p = stats.friedmanchisquare(dtree, 
                                  mlp,
                                  nb,)

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=6.000, p=0.050

In [55]:
stat, p = stats.friedmanchisquare(boost_results['10'], 
                                  boost_results['15'],
                                  boost_results['20'])

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.368

In [57]:
stat, p = stats.wilcoxon(dtree, mlp)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dtree, nb)
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp, nb)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.000, p=0.102
Statistics=0.000, p=0.109
Statistics=0.000, p=0.109

In [58]:
stat, p = stats.wilcoxon(boost_results['10'], boost_results['15'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(boost_results['10'], boost_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(boost_results['15'], boost_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=1.000, p=0.655
Statistics=0.000, p=0.317
Statistics=0.000, p=0.180

## Stacking

In [59]:
stacking_results = pd.read_csv('stacking.csv')
stacking_results

      10  Tempo      15  Tempo.1      20  Tempo.2
0  99.92  53.95  100.00    52.53  100.00    56.66
1  99.96  55.05  100.00    52.39   99.96    51.18
2  99.89  41.35   99.82    49.55   99.87    45.89
3  94.08  80.47   93.50    88.91   94.33    96.37
4  94.21  79.54   92.42    83.03   92.92    84.73
5  91.86  76.26   91.50    71.03   91.50    82.21
6  96.65  64.44   96.21    66.24   96.43    69.51

In [60]:
stat, p = stats.friedmanchisquare(stacking_results['10'], 
                                  stacking_results['15'],
                                  stacking_results['20'])

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.480, p=0.289

In [61]:
stat, p = stats.wilcoxon(stacking_results['10'], stacking_results['15'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(stacking_results['10'], stacking_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(stacking_results['15'], stacking_results['20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=4.000, p=0.091
Statistics=6.000, p=0.345
Statistics=1.000, p=0.080