<a href="https://colab.research.google.com/github/carvalheirafc/mnist-MachineLearning-Supervised/blob/main/mnist_results_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from scipy import stats

## Single Classifiers

### Gaussian NaiveBayes

In [3]:
nb_results = pd.read_csv('nbb.csv')
nb_results

                 Base Treinamento  ...  1.00E-01  Tempo (segundos).2
0            Original       90/10  ...     99.44                0.17
1                 NaN       80/20  ...     99.44                0.15
2                 NaN       70/30  ...     99.50                0.14
3        Duas Classes       90/10  ...     80.01                0.79
4                 NaN       80/20  ...     80.25                0.70
5                 NaN       70/30  ...     80.14                0.64
6   Metade do dataset       90/10  ...     79.90                0.41
7                 NaN       80/20  ...     79.96                0.36
8                 NaN       70/30  ...     80.37                0.32
9       Dataset Menor       90/10  ...     82.33                0.18
10                NaN       80/20  ...     83.16                0.14
11                NaN       70/30  ...     81.94                0.13
12              Média         NaN  ...     85.54                0.34
13      Desvio Padrão         NaN  ...      8.46                0.24

[14 rows x 8 columns]

In [4]:
stat, p = stats.friedmanchisquare(nb_results['1.00E-09'], nb_results['1.00E-20'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=9.000, p=0.011

In [5]:
stat, p = stats.wilcoxon(nb_results['1.00E-09'], nb_results['1.00E-20'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(nb_results['1.00E-09'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(nb_results['1.00E-20'], nb_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=4.000, p=0.002
Statistics=12.000, p=0.011
Statistics=10.000, p=0.008

### Decision Tree

In [6]:
dt_results = pd.read_csv('decisiontree.csv')
dt_results

                 Base Treinamento  ...  ccp 0.5  Tempo (segundos).2
0            Original       90/10  ...    11.16              19.600
1                 NaN       80/20  ...    11.02              16.660
2                 NaN       70/30  ...    11.21              13.690
3        Duas Classes       90/10  ...    52.80               1.770
4                 NaN       80/20  ...    53.37               1.480
5                 NaN       70/30  ...    53.60               1.130
6   Metade do dataset       90/10  ...    10.73               7.700
7                 NaN       80/20  ...    11.36               7.040
8                 NaN       70/30  ...    11.40               5.835
9       Dataset Menor       90/10  ...    11.50               2.360
10                NaN       80/20  ...    11.45               2.040
11                NaN       70/30  ...    10.88               1.720
12              Média         NaN  ...    21.71               6.750
13      Desvio Padrão         NaN  ...    19.03               6.500

[14 rows x 8 columns]

In [9]:
stat, p = stats.friedmanchisquare(dt_results['ccp 0.0'], dt_results['ccp 0.1'], dt_results['ccp 0.5'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=19.447, p=0.000

In [14]:
stat, p = stats.wilcoxon(dt_results['ccp 0.0'], dt_results['ccp 0.1'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dt_results['ccp 0.0'], dt_results['ccp 0.5'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(dt_results['ccp 0.1'], dt_results['ccp 0.5'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=4.000, p=0.002
Statistics=1.000, p=0.001
Statistics=0.000000, p=0.043

/usr/local/lib/python3.6/dist-packages/scipy/stats/morestats.py:2879: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

### KNN

In [15]:
knn_results = pd.read_csv('knn.csv')
knn_results

                 Base Treinamento  ...  25 Neighbors  Tempo (segundos).2
0            Original       90/10  ...           NaN                 NaN
1                 NaN       80/20  ...           NaN                 NaN
2                 NaN       70/30  ...           NaN                 NaN
3        Duas Classes       90/10  ...        100.00                1.23
4                 NaN       80/20  ...        100.00                1.08
5                 NaN       70/30  ...         99.97                0.89
6   Metade do dataset       90/10  ...           NaN                 NaN
7                 NaN       80/20  ...           NaN                 NaN
8                 NaN       70/30  ...           NaN                 NaN
9       Dataset Menor       90/10  ...         94.00                1.16
10                NaN       80/20  ...         93.83                0.98
11                NaN       70/30  ...         92.97                0.84
12              Média         NaN  ...         96.80                1.03
13      Desvio Padrão         NaN  ...          3.52                0.15

[14 rows x 8 columns]

In [17]:
stat, p = stats.friedmanchisquare(knn_results['5 Neighbors'], knn_results['10 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=0.894, p=0.640

In [18]:
stat, p = stats.wilcoxon(knn_results['5 Neighbors'], knn_results['10 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(knn_results['5 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(knn_results['10 Neighbors'], knn_results['25 Neighbors'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=3.000, p=0.008
Statistics=3.000, p=0.005
Statistics=3.000000, p=0.005

/usr/local/lib/python3.6/dist-packages/scipy/stats/morestats.py:2882: RuntimeWarning: invalid value encountered in greater
  r_plus = np.sum((d > 0) * r, axis=0)
/usr/local/lib/python3.6/dist-packages/scipy/stats/morestats.py:2883: RuntimeWarning: invalid value encountered in less
  r_minus = np.sum((d < 0) * r, axis=0)

### MLP

In [19]:
mlp_results = pd.read_csv('mlp.csv')
mlp_results

                 Base Treinamento  ...  24, 64 Layers  Tempo (segundos).2
0            Original       90/10  ...          94.19              296.29
1                 NaN       80/20  ...          93.60              221.37
2                 NaN       70/30  ...          93.48              125.31
3        Duas Classes       90/10  ...         100.00                5.49
4                 NaN       80/20  ...          99.92                3.94
5                 NaN       70/30  ...          99.86                4.38
6   Metade do dataset       90/10  ...          92.56               62.07
7                 NaN       80/20  ...          93.30               78.70
8                 NaN       70/30  ...          92.65               88.31
9       Dataset Menor       90/10  ...          90.66               25.58
10                NaN       80/20  ...          89.70               20.80
11                NaN       70/30  ...          90.61               16.49
12              Média         NaN  ...          94.21               79.06
13      Desvio Padrão         NaN  ...           3.70               93.79

[14 rows x 8 columns]

In [20]:
stat, p = stats.friedmanchisquare(mlp_results['100 Layers'], mlp_results['100, 100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=10.259, p=0.006

In [22]:
stat, p = stats.wilcoxon(mlp_results['100 Layers'], mlp_results['100, 100 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp_results['100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(mlp_results['100, 100 Layers'], mlp_results['24, 64 Layers'])
print('Statistics=%f, p=%.3f' % (stat, p))

Statistics=27.000, p=0.196
Statistics=3.000, p=0.003
Statistics=12.000000, p=0.011

### Best Results

In [25]:
best_results = pd.read_csv('bests.csv', skiprows=1)
best_results

                 Base Treinamento  ...  ccp 0.0  Tempo (segundos).3
0            Original       90/10  ...    86.08               19.31
1                 NaN       80/20  ...    86.39               16.42
2                 NaN       70/30  ...    86.49               13.71
3        Duas Classes       90/10  ...    99.36                1.78
4                 NaN       80/20  ...    99.56                1.45
5                 NaN       70/30  ...    99.52                1.14
6   Metade do dataset       90/10  ...    84.96                7.64
7                 NaN       80/20  ...    84.80                6.96
8                 NaN       70/30  ...    83.73                5.78
9       Dataset Menor       90/10  ...    84.00                2.33
10                NaN       80/20  ...    83.50                2.02
11                NaN       70/30  ...    81.80                1.69
12              Média         NaN  ...    88.35                6.69
13      Desvio Padrão         NaN  ...     6.84                6.42

[14 rows x 10 columns]

In [27]:
stat, p = stats.friedmanchisquare(best_results['100 Layers'], 
                                  best_results['5 Neighbors'],
                                  best_results['1.00E-01'],
                                  best_results['ccp 0.0'],)

print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=23.288, p=0.000

In [30]:
stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['5 Neighbors'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['100 Layers'], best_results['ccp 0.0'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['5 Neighbors'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['5 Neighbors'], best_results['ccp 0.0'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

stat, p = stats.wilcoxon(best_results['ccp 0.0'], best_results['1.00E-01'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=3.000, p=0.003
Statistics=10.000, p=0.008
Statistics=4.000, p=0.002
Statistics=1.000, p=0.001
Statistics=4.000, p=0.002
Statistics=34.000, p=0.245

/usr/local/lib/python3.6/dist-packages/scipy/stats/morestats.py:2882: RuntimeWarning: invalid value encountered in greater
  r_plus = np.sum((d > 0) * r, axis=0)
/usr/local/lib/python3.6/dist-packages/scipy/stats/morestats.py:2883: RuntimeWarning: invalid value encountered in less
  r_minus = np.sum((d < 0) * r, axis=0)